export("%btwn%")
export("%nin%")
export(addClasses)
export(argsAsNamedList)
export(binPack)
export(cFactor)
export(catf)
export(checkArg)
export(checkListElementClass)
export(chunk)
export(clipString)
export(coalesce)
export(collapse)
export(computeMode)
export(convertDataFrameCols)
export(convertDfCols)
export(convertInteger)
export(convertIntegers)
export(convertListOfRowsToDataFrame)
export(convertMatrixType)
export(convertRowsToList)
export(convertToShortString)
export(dapply)
export(do.call2)
export(dropNamed)
export(extractSubList)
export(getFirst)
export(getLast)
export(getMaxIndex)
export(getMaxIndexOfCols)
export(getMaxIndexOfRows)
export(getMinIndex)
export(getMinIndexOfCols)
export(getMinIndexOfRows)
export(getOperatingSystem)
export(getUnixTime)
export(insert)
export(is.error)
export(isDarwin)
export(isDirectory)
export(isEmptyDirectory)
export(isExpensiveExampleOk)
export(isFALSE)
export(isLinux)
export(isProperlyNamed)
export(isScalarNA)
export(isScalarValue)
export(isUnix)
export(isValidName)
export(isWindows)
export(lib)
export(listToShortString)
export(load2)
export(lsort)
export(makeDataFrame)
export(makeProgressBar)
export(makeS3Obj)
export(makeSimpleFileLogger)
export(messagef)
export(namedList)
export(names2)
export(pause)
export(printStrToChar)
export(printToChar)
export(rangeVal)
export(requirePackages)
export(rowLapply)
export(rowSapply)
export(save2)
export(seq_col)
export(seq_row)
export(setAttribute)
export(setClasses)
export(setColNames)
export(setRowNames)
export(splitTime)
export(stopf)
export(stringsAsFactors)
export(strrepeat)
export(suppressAll)
export(symdiff)
export(system3)
export(toRangeStr)
export(vcapply)
export(viapply)
export(vlapply)
export(vnapply)
export(warningf)
export(which.first)
export(which.last)
import(stats)
useDynLib(BBmisc,c_first)
useDynLib(BBmisc,c_getMaxIndex)
useDynLib(BBmisc,c_getMaxIndexOfCols)
useDynLib(BBmisc,c_getMaxIndexOfRows)
useDynLib(BBmisc,c_last)
