export("%nin%")
export(addClasses)
export(anyMissing)
export(argsAsNamedList)
export(assertRule)
export(cFactor)
export(catf)
export(checkArg)
export(checkListElementClass)
export(checkRule)
export(chunk)
export(clipString)
export(coalesce)
export(collapse)
export(computeMode)
export(convertDataFrameCols)
export(convertDfCols)
export(convertInteger)
export(convertIntegers)
export(dropColumns)
export(extractSubList)
export(getCurrentTimeSecs)
export(getMaxIndex)
export(getMaxIndexOfCols)
export(getMaxIndexOfRows)
export(getMinIndex)
export(getMinIndexOfCols)
export(getMinIndexOfRows)
export(getOperatingSystem)
export(insert)
export(is.error)
export(isDirectory)
export(isEmptyDirectory)
export(isExpensiveExampleOk)
export(isFALSE)
export(isProperlyNamed)
export(isScalarNA)
export(isScalarValue)
export(isUnix)
export(isWindows)
export(lib)
export(listToShortString)
export(load2)
export(lsort)
export(makeDataFrame)
export(makeProgressBar)
export(makeS3Obj)
export(makeSimpleFileLogger)
export(messagef)
export(namedList)
export(names2)
export(pause)
export(printStrToChar)
export(printToChar)
export(requirePackages)
export(rowLapply)
export(rowSapply)
export(save2)
export(seq_col)
export(seq_row)
export(setAttribute)
export(setClasses)
export(setColNames)
export(setRowNames)
export(splitTime)
export(stopf)
export(strrepeat)
export(suppressAll)
export(system3)
export(toRangeStr)
export(warningf)
useDynLib(BBmisc,c_anyMissing)
useDynLib(BBmisc,c_checkRule)
useDynLib(BBmisc,c_getMaxIndex)
useDynLib(BBmisc,c_getMaxIndexOfCols)
useDynLib(BBmisc,c_getMaxIndexOfRows)
